.container {
  background-color: #3F9AE0;
  height: 80vh;
  width: 30vw;
  padding-top: 7vh;
  margin-top: 10vh;
}

.container > p {
  color: #F2D56D;
  font-size: 1.2rem;
  margin-top: 3vh;
  font-weight: 500;
}

.container > form {
  display: flex;
  flex-direction: column;
  row-gap: 2.5vh;
  margin: 5vh 0 2vh;
}

.container > form > input {
  width: 15vw;
  height: 4.5vh;
  border-radius: 20px;
  border: none;
}

.container > form > input::placeholder {
  color: #000000;
}

#btn-login, #btn-create-user {
  background-color: #F2D56D;
  border: none;
  color: #DD4462;
  font-family: var(--font-koho);
  font-size: 0.9rem;
  font-weight: 500;
  padding: 3px 20px;
  height: auto;
  width: auto;
}

#btn-google {
  background-color: var(--color-backgound);
  margin: 5vh 0;
  border: none;
  border-radius: 15px;
}

#img-google {
  width: auto;
  height: 4.5vh;
}

#btn-register, #btn-back {
  background-color: #F2D56D;
  color: #DD4462;
  font-weight: 500;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
  margin: 3vh 0;
}

#btn-back {
  margin: 7vh 0;
}

/* @media screen and (min-width: 1100px) {
  .container {
    border-radius: 10px;
    width: 30vw;
  }

  .container > form > input {
    width: 20vw;
  }

  .container > form > input[type='submit'] {
    width: 16vw;
  }

  #img-google {
    height: 5vh;
  }

  .container > .msg-error {
    margin-top: -2vh;
  }
} */
